/*
colours
Dark Green:     #4C8C4A
Light Green:    #B6C48A
Brown:          #F4E1B2
Black:          #1e1e1e
White:          #c5c8c6
*/

@font-face {
    font-family: 'Hooskai';
    src: url('fonts/HooskaiChamferedSquare-Regular.ttf')
}

body {
    font-family: 'Ubuntu Mono', monospace;
    /* Use Ubuntu Monospace font */
    background-color: #1e1e1e;
    color: #c5c8c6;
    margin: 0;
}

header{
    padding: 20px;
}

h1 {
    font-family: 'Hooskai', 'Ubuntu Mono', monospace;
    font-size: 50px;
}

h2 {
    font-family: 'Hooskai', 'Ubuntu Mono', monospace;
    font-size: 25px;
    color: #4C8C4A;
}

h3 {
    font-family: 'Hooskai', 'Ubuntu Mono', monospace;
    font-size: 20px;
    color: #F4E1B2;
}

p {
    font-size: 20px;
}

a {
    color: #B6C48A
}

pre {
    font-size: 1.5em;
    display: none;
    column-count: 2;
    column-gap: 2rem;
}

.content {
    margin: 0 auto;
    line-height: 1.6;
    padding: 20px;
}

.middleme {
    text-align: center;
}

footer {
    text-align: center;
    padding: 20px;
}

/* NAVIGATION */

nav {
    width: 100%;
    border-bottom: 3px solid #4C8C4A;
}

nav a {
    color: #B6C48A;
    text-decoration: none;
    margin: 0 15px;
    font-weight: 700;
    text-align: center;
}

nav a:hover {
    text-decoration: underline;
    text-align: center;
    color: #4C8C4A;
}

 /* Dropdown Button */
.dropbtn {
  background-color: #1e1e1e;
  color: #B6C48A;
  padding: 16px;
  font-size: 16px;
  font-family: 'Ubuntu Mono', monospace;
  width: 100%;
  border-radius: 5px 5px 0px 0px;
  border: 3px solid #4C8C4A;
  margin-bottom: -3px;
  cursor: pointer;
}

#currentPage {
    border-bottom: 3px solid #1e1e1e;
    margin-bottom: -3px;
    z-index: 2;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  width: 15%;
  padding-left: 1%;
  padding-right: 1%;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #1e1e1e;
  min-width: 160px;
  z-index: 1;
  border: #4C8C4A;
  border-width: 10px;
  margin-top: 3px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #c5c8c6;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #c5c8c6;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}