body {
    font-family: 'Ubuntu Mono', monospace;
    /* Use Ubuntu Monospace font */
    background-color: #1e1e1e;
    color: #c5c8c6;
    margin: 0;
    padding: 20px;
}

pre {
    font-size: 1.5em;
    display: none;
    column-count: 2;
    column-gap: 2rem;
}

.content {
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.6;
    display: none;
    /* Hide content initially */
}

nav a {
    color: #B6C48A;
    text-decoration: none;
    margin: 0 15px;
    font-weight: 700;
}

nav a:hover {
    text-decoration: underline;
    text-align: center;
    color: #4C8C4A;
}

.middleme {
    text-align: center;
}

footer {
    position: absolute;
    bottom: 0;
    text-align: center;
}